@use "../../abstracts/mixin" as mixin;

:root {
  /* 로고 색상 */
  --logoColor: #ff4646;
  /* 텍스트 색상 */
  --textColor: #ecf0f1;
  /* 마우스 오버 색상 */
  --mouseOverColor: #ff4646;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: #0d335d;
}

.navbar-logo {
  @include mixin.flex-center();
  display: flex;
  background: transparent;
}

.navbar-logo > a {
  display: inherit;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}
.navbar-logo > a > i {
  padding: 0px 5px;
  color: var(--logoColor);
}

.navbar-logo > a > h1 {
  margin: 0;
  color: var(--textColor);
}

.navbar-menu > ul {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  padding: 8px 12px;
}

.navbar-menu li:hover {
  background: var(--mouseOverColor);
  border-radius: 6px;
}

/* 메뉴바 이동 텍스트 (마이페이지)*/
.navbar-menu li > a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  @include mixin.font-style(black, "md", normal);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  padding: 8px 12px;
  color: black;
}

.navbar-btn {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo > a {
    padding: 5px 10px;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu > ul {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .navbar-menu > ul > li {
    cursor: pointer;
    text-align: center;
  }

  .navbar-links {
    display: none;
    justify-content: center;
    padding: 8px 12px;
    font-size: 132.6rem;
  }

  .navbar-btn {
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    font-size: 1.6rem;
    color: var(--textColor);
  }

  .active {
    display: flex;
  }
}
