
.footer {
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
  }

  .footer .logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .footer .logos img {
    width: 5rem;
  }