$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
  
  /* 반응형 디자인 */

  // 모바일
  @media (max-width: $breakpoint-mobile) {
    

   
  }

  // 태블릿
  @media (max-width: $breakpoint-tablet) {
    
    * {
      font-size: 50%; //8px
    }
   
  }

  // 데스크탑탑
  @media (max-width: $breakpoint-desktop) {
    

   
  }