

  // 모바일
  @media (max-width: 479px) {
    
    html {
      font-size: 40%; 
    }
   
   
  }

  // 태블릿
@media (min-width: 768px) and (max-width: 1023px){
    
  html {
      font-size: 50%; //8px
    }
   
  }

  // 데스크탑
  @media (max-width:1024) {
    
    html {
      font-size: 62.5%; /* 1rem = 10px */
    }
   
  }