.card {
  width: 36rem;
  height: 25rem;
  padding: 3.4rem 26rem 29rem 26rem;
  background: #ff9191;
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  position: relative; // 절대 위치 자식(img)을 위한 부모 설정
}

.card-title-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-title {
  color: #202020;
  font-size: 20rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  line-height: 30rem;
  word-wrap: break-word;
}

.card-date-container {
  align-self: stretch;
  height: 65rem;
  padding: 12rem 0 40rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-date {
  align-self: stretch;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 13rem;
  word-wrap: break-word;
}

.card-donation {
  align-self: stretch;
  height: 60rem;
  padding: 21rem 20rem;
  background: white;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
}

.donation-icon {
  width: 18rem;
  height: 18rem;
}

.donation-text {
  color: #444444;
  font-size: 16rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  line-height: 16rem;
  word-wrap: break-word;
}

.donation-amount-container {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.donation-amount {
  align-self: stretch;
  text-align: right;
  color: #202020;
  font-size: 18rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  line-height: 18rem;
  word-wrap: break-word;
}

.card-image {
  width: 105rem;
  height: 133rem;
  position: absolute;
  left: 235rem;
  top: 19rem;
}