.layout__categories {
  width: 112rem;
  height: 80.4rem;
  background-color: pink;
  background: #f00;
  margin-bottom: 2.8rem;
}

.layout__category-hero {
  width: 111rem;
  height: 26.5rem;

  margin-bottom: 3.8rem;
}
.layout__categort-page-left-panel {
  width: 70rem;

  height: auto;

  margin-right: 14rem;

  & > div {
    margin-bottom: 3rem;
  }
}
