.layout__category{


    width: 112rem;
    height: 80.4rem;
    background-color: pink;
    background: #F00;
    margin-bottom: 2.8rem;
    
    
    
    }

.layout__category-hero{
    width: 111rem;
    height: 26.5rem;
    background-color: pink;
    background: #F00;
    margin-bottom: 3.8rem;
    }