@use "../abstracts/variable" as var;
@use "../abstracts/mixin" as mixin;

.layout__header {
  margin: 0 auto;
  width: 120rem;
  height: 70px;

  top: 0;
  left: 0;
  background: #d9d9d9;
  margin-bottom: 2rem;
}
.layout__main-container {
  margin: 0 auto;
  width: 120rem;

  display: inline-flex;

  background: white;
}

.layout__left-panel {
  width: 70rem;

  height: auto;

  margin-right: 14rem;

  & > div {
    margin-bottom: 3rem;
  }

  .layout__main-banner {
    height: 25rem;
    @include mixin.box-shadow();
  }
  .layout__main-category {
    @include mixin.box-shadow();
  }
  .layout__top-campaign {
    height: 37.15rem;
    @include mixin.box-shadow();
  }
  .layout__main-campaign-list {
    width: 100%;
  }
}

.layout__right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout__first-section {
  }

  & > div {
    margin-bottom: 6rem;
  }

  .layout__total-donation {
  }
  .layout__donation-review {
  }

  .layout__new-campaign {
    background: linear-gradient();
  }
  .layout__social-link {
  }
  .layout__receive-donation {
    margin: 0 auto;
    width: 295px;
    height: 248px;
    flex-shrink: 0;
    background-color: #ff9191;
  }
}
@media (max-width: 768px) {
  .layout__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0px;
    & > div {
      margin-bottom: 0rem;
    }
  }
  .layout__left-panel {
    width: 100vw;
    margin: 0 auto;
    height: auto;
  }

  .layout__main-banner {
  }

  .layout__right-panel {
    margin: 0 auto;
  }
}
