@use "../abstracts/variable" as var;
@use "../abstracts/mixin" as mixin;

.header {
    margin: 0 auto;
    width: 120rem;
  height: 70px;
  
  top: 0;
  left: 0;
  background: #D9D9D9;
  margin-bottom: 2rem;
}
.main-container {
    margin: 0 auto;
    width: 120rem;
    height: 300rem;
    display: inline-flex;
      
    
    background: white;
    
  }
  
  
  .left-panel {
    width: 70rem;
   
    height: auto;
    
    background: #FF0000;
    margin-right: 14rem;

    & > div{
        margin-bottom: 3rem;
    }

    .main-banner {
        height: 25rem;
        background: black;

    }
    .my-help-category {
        
        height: 17.4rem;
        background: black;
       
    }
    .top-campaign {
        
        height: 37.15rem;
       
        background: black;

    }
    .main-campaign-list{
        background: black;
        
        height: 40rem;}
  }
  
  .right-panel {
    width: 36rem;

    
    
    background: #002FFF;
    .first-section{
        height: 53.1rem;
        background: black;
        
    }

    & > div{
        margin-bottom: 6rem;
    }
    .total-donation{
        height:25rem;
        
        background: red;
    }
    .donation-review{
        height:28.1rem;
        background: violet;

    }
    
    .new-campaign{
        height: 39.3rem;

        background: linear-gradient(90deg, #FF9191 0%, rgba(255, 93, 100, 0.80) 100%);
        
    }
    .social-link{ 
        height: 47.7rem;
        background-color: #002FFF;
        background:#FF0000;
    }
    .receive-donation{

        margin: 0 auto;
        width: 295px;
        height: 248px;
        flex-shrink: 0;
        background-color: #FF9191;
    }
   
  }
  