@use "../abstracts/variable" as var;
@use "../abstracts/mixin" as mixin;

.layout__header {
  margin: 0 auto;
  width: 120rem;
  height: 70px;

  top: 0;
  left: 0;
  background: #d9d9d9;
  margin-bottom: 2rem;
}
.layout__main-container {
  margin: 0 auto;
  width: 120rem;
  height: 300rem;
  display: inline-flex;

  background: white;
  

}

.layout__left-panel {
  width: 70rem;

  height: auto;

  
  margin-right: 14rem;

  & > div {
    margin-bottom: 3rem;
  }

  .layout__main-banner {
    height: 25rem;
   @include mixin.box-shadow();
  }
  .layout__main-category {
    
    @include mixin.box-shadow();
  }
  .layout__top-campaign {
    height: 37.15rem;
    @include mixin.box-shadow();
 
  }
  .layout__main-campaign-list {
    width: 100%;
   

    
  }
}

.layout__right-panel {
  width: 36rem;

  background: #002fff;
  .layout__first-section {
    height: 53.1rem;
    background: black;
  }

  & > div {
    margin-bottom: 6rem;
  }
  .layout__total-donation {
    height: 25rem;

    background: red;
  }
  .layout__donation-review {
    height: 28.1rem;
    background: violet;
  }

  .layout__new-campaign {
    height: 39.3rem;

    background: linear-gradient(
      90deg,
      #ff9191 0%,
      rgba(255, 93, 100, 0.8) 100%
    );
  }
  .layout__social-link {
    height: 47.7rem;
    background-color: #002fff;
    background: #ff0000;
  }
  .layout__receive-donation {
    margin: 0 auto;
    width: 295px;
    height: 248px;
    flex-shrink: 0;
    background-color: #ff9191;
  }
}
@media (max-width: 768px) {
    .layout__main-container {
       display: flex ;
       flex-direction: column;
       width: 100%;
      margin-right: 0px;
      & > div {
        margin-bottom: 0rem;
      }
    
      
      
    }
    .layout__left-panel{
      width: 100vw;
        margin: 0 auto;
        height: auto;
        
        
    }
    
    .layout__main-banner{
       
    }
  
    .layout__right-panel{
        margin: 0 auto;
    }
}