.search-container {
  width: 100px;
}
.search-input {
  width: 70rem;
  height: 4rem;
  border: 1px solid black;
  margin-bottom: 10rem;
  margin-top: 2rem;
  padding: 1rem;

  &:active,
  &:focus {
    border: 1px solid #ff9191;
  }
}
.campaign-search-list {
  width: 70rem;
  justify-self: center;
}
