.profile { width: 75rem; text-align: center; position: relative; }
.profile-img {  
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 30rem;
}
.campaign-info { position: absolute; bottom: 2rem; margin-left: 12rem; margin-right: 12rem; }