@use "../../abstracts/mixin" as mixin;
@use "../../abstracts/variable" as var;

.donation-info {
  width: 43.75rem; // 700px
  height: 6rem; // 96px
  position: relative;
  background: white;

  .donation-amount {
    width: 6rem; // 96px
    height: 2.375rem; // 38px
    position: absolute;
    left: 36.125rem; // 578px
    top: 2.0625rem; // 33px
    // mixin.font-style: 컬러와 폰트 사이즈를 설정 (폰트 사이즈: 24.8px → 1.55rem)
    @include mixin.font-style(#FF9191, md, "600");
    font-family: 'Inter', sans-serif;
    font-weight: 600; // mixin에서는 숫자 600을 처리하지 않으므로 직접 지정
    word-wrap: break-word;
  }

  .total-donation {
    width: 4.625rem; // 74px
    height: 1.3125rem; // 21px
    position: absolute;
    left: 23.375rem; // 374px
    top: 2.5rem; // 40px
    @include mixin.font-style(#535054, xxs, "600"); // 14.3px → 0.89375rem
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }

  .divider {
    width: 0.125rem; // 2px
    height: 3.875rem; // 62px
    position: absolute;
    left: 21.75rem; // 348px
    top: 1.0625rem; // 17px
  }

  .my-amount {
    width: 2.3125rem; // 37px
    height: 1.75rem; // 28px
    position: absolute;
    left: 17.875rem; // 286px
    top: 2.3125rem; // 37px
    @include mixin.font-style(#FF9191, sm, "600"); // 22.2px → 1.3875rem
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }

  .my-balance {
    width: 6.25rem; // 100px
    height: 1.3125rem; // 21px
    position: absolute;
    left: 1.625rem; // 26px
    top: 2.5rem; // 40px
    @include mixin.font-style(#605C62, xxs, "600"); // 14.3px → 0.89375rem
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }
}